.Appcontainer {
  background-color: #cdadda9c;
  margin-left: 48ch;
  border-radius: 4ch;
  align-items: center;
  position: absolute;
  height: 58ch;
  width: 50ch;
  align-self: center;
  justify-content: center;
  margin-top: 4ch;
}
.Addbar {
  position: absolute;
  margin-left: 7ch;
  width: 100%;
  height: 100%;
}
